h1{
    color: red;
    font-family: Arial;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 100px;
    word-spacing: 5px;
    letter-spacing: 5px;
    text-align: left;
    text-decoration: underline;
    text-indent: 50px;
    text-shadow: 2px 2px 15px green;
    text-transform: uppercase;
}

h2{
    font: italic small-caps bold 36px/10px Arial;
}