{% extends 'common/master.html' %}

{% load static %}

{% block content %}

<section class="section1" style="height: 800px;">
  <section class="form my-4 mx-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4><a href="/common/seller_login">SELLER</a></h4>
            </div>
            <div class="col-lg-6">
                <h4><a href="/common/customer_login">CUSTOMER</a></h4>
            </div>
        </div>
    </div>
  </section>
  {% endblock %}
  
{% load static %}
